* {
  box-sizing: border-box;
}

.wrapper {
  border-radius: 5px;
}

.wrapper > div {
  border-radius: 5px;
  padding: 1em;
}
.wrapper {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, 7 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
}
.item1 {
  grid-area: b;
}
.item2 {
  grid-area: a;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}