*body{
    margin-left: 30px;
    margin-right: 30px;
}



.titulo-inicial{
    text-align: center;
    font-size: 200%;
    color: black;
}
.versiculo{
    text-align: center;
    font-style: italic;
}
.texto{
    margin-left: 600px;
    margin-right: 30px;
    margin-top: 60px;
    text-align: justify;
}
.imagens-teologia{
    margin-left: 30px;
    margin-top: -445px;
}
.imagens-teologia, h3{
    float: left;
}
.imagem2{
    margin-right: 30px;
    margin-top: 500px;
    text-align: right;
}
.texto2{
    display: inline-block;
    margin-top: -40%;
    margin-left: 30px;
    margin-right: 600px;
    text-align: justify;
}