.videos-vocacionais{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #ffdd55;
    font-size: 150%;
    padding: 20px;
    text-shadow: #000 2px 3px 2px;
}